In [1]:
println("hello")

Intitializing Scala interpreter ...

Spark Web UI available at http://akhil-PC:4041
SparkContext available as 'sc' (version = 2.4.0, master = local[*], app id = local-1547806093475)
SparkSession available as 'spark'

hello

In [2]:
println('hello')

In [5]:
'hello'

In [6]:
//strings should be only in " " double quotes

In [7]:
// string concatination
"surname"+" "+"firstname"+" "+"lastname"

res4: String = surname firstname lastname

In [8]:
//string multiplication
"*rockband*" * 5

res5: String = *rockband**rockband**rockband**rockband**rockband*

In [9]:
//assign a val to string
val dog = "tommy"

dog: String = tommy

In [10]:
dog.length

res6: Int = 5

In [11]:
//now i would like to assidn great tommy into other variable by using the pervious variable dog
val hi_dog = s"great $dog"
//or
val hi_dog2 =f"great $dog"

hi_dog: String = great tommy
hi_dog2: String = great tommy

In [12]:
printf("i like %s, dog age is %d, a weight of %2.3f","tommy",15,35.67987)

i like tommy, dog age is 15, a weight of 35.680

In [13]:
//to access a character in the string we have inbulit functions
val cat = "my dog hates the cats which are black in color"
cat.charAt(4)

cat: String = my dog hates the cats which are black in color
res8: Char = o

In [14]:
//here indexing start from 0
cat.charAt(-1)

In [15]:
//-ve index is not posible like in java

In [16]:
// matches and contains
val rat = "dog cat rat"
rat matches "dog cat rat"

rat: String = dog cat rat
res11: Boolean = true

In [17]:

rat contains "dog"

res12: Boolean = true

In [18]:
rat matches "dog"

res13: Boolean = false

In [19]:
//always use print to display the output
println(rat matches "dog cat rat")
println(rat contains "dog")
println(rat matches "dog")
println(rat contains "ant")

true
true
false
false

In [20]:
//tuple is the collection of datatypes
(1,2.2,"dogs",true)

res15: (Int, Double, String, Boolean) = (1,2.2,dogs,true)

In [21]:
val my_tuple = (97,23.4,("snakes","lions",(true,false)))
print(my_tuple)

(97,23.4,(snakes,lions,(true,false)))

my_tuple: (Int, Double, (String, String, (Boolean, Boolean))) = (97,23.4,(snakes,lions,(true,false)))

In [22]:
// accesing tuples 
//here index starts from 1
my_tuple._1

res17: Int = 97

In [23]:
my_tuple._3._3

res18: (Boolean, Boolean) = (true,false)